Source: hyprwayland-scanner
Section: main
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13),
               build-essential,
               cmake-extras,
               cmake,
               libpugixml  
Rules-Requires-Root: no

Package: hyprwayland-scanner
Architecture: linux-any
Depends:
         ${shlibs:Depends},
         ${misc:Depends},
         libpugixml1v5
Description: A Hyprland implementation of wayland-scanner.

Package: hyprwayland-scanner-dev
Architecture: linux-any
Depends:
         ${shlibs:Depends},
         ${misc:Depends},
         hyprwayland-scanner (= ${binary:Version}),
Description: Development files for the Hyprland implementation of wayland-scanner.
